<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/css/style.css">
    <script src="./../static/js/classes/Fire.js" defer></script>
    <script src="./../static/js/classes/FireAlarm.js" defer></script>
    <script src="./../static/js/index.js" defer></script>
    <title>Fire Alarm Simulator</title>
</head>
<body>
    <div id="index-content">
        <div id="main"></div>
        <div id="sidebar">
            <div id="fire-controls">
                <span>FIRE CONTROLS</span>
                <div id="fire-control-row">
                    <label for="fire-control-light">Light: </label>
                    <input type="range" name="fire-control-light" id="fire-control-light" value="0" min="0" max="1" step="0.01">
                    <span id="light-control-value">0.00</span>
                </div>
                <div id="fire-control-row">
                    <label for="fire-control-heat">Heat: </label>
                    <input type="range" name="fire-control-heat" id="fire-control-heat" value="0" min="0" max="1" step="0.01">
                    <span id="heat-control-value">0.00</span>
                </div>
                <div id="fire-control-row">
                    <label for="fire-control-smoke">Smoke: </label>
                    <input type="range" name="fire-control-smoke" id="fire-control-smoke" value="0" min="0" max="1" step="0.01">
                    <span id="smoke-control-value">0.00</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>